/*this is the styling of the webpage*/

img{
border-radius:50%;
height:300px;
width:300px;
border:round;

}
#landing p ,#intro-font{
  font-family: 'Kaushan Script', cursive;
}
#landing{
  font-size: 50px;
  text-align: center;
  height: auto;
  padding-top: 20%;
  display: none;
  color: 	#CD853F;
  font-family: 'Sansita', sans-serif;
}
.buttons{
  font-size: 25px;
  padding: 10px 30px 10px 30px;
  border-style: solid;
  border-color: #CD853F;
  color: 	#CD853F;
  background-color: #000000;
  display: none;
}
.buttons:hover{
  background-color: #CD853F;
  color: #000000;
  border-color: #000000;
}
#hi{
  font-size: 60px;
  text-align: center;
  height: auto;
  padding-top: 20%;
  display: none;
  color: white;
}
#time{
  font-size: 60px;
  text-align: center;
  height: auto;
  padding-top: 20%;
  display: none;
  color: white;
}
.hi-backgrd{
  background-color: #1A1E37;
  height: auto;
}
#begin{
  font-size: 60px;
  text-align: center;
  height: auto;
  padding-top: 20%;
  display: none;
  color: white;
}
#intro{
  background-image: url("../images/landing.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 60px;
  text-align: center;
  width: 100%;
  height: 100vh;
  padding-top: 20%;
  display: none;
  color: white;
}
#intro-cont{
  font-size: 60px;
  text-align: center;
  height: auto;
  display: none;
  color: white;
}

#welcome{
  background-image: url("http://78.media.tumblr.com/439a4606156abed8c2d04944d4efd12f/tumblr_n6kholb70q1sd011wo1_1280.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding-top: 20%;
  font-size: 60px;
  text-align: center;
  height: 100vh;
  display: none;
  color: #40E0D0;
}
.homepage{
  background-color: white;
    color : black;
    -webkit-animation-name: on;
    -webkit-animation-duration: 8s;
    animation-name: on;
    animation-duration: 8s;
}
@-webkit-keyframes on{
  0%   {background-color: black;}
 25%  {background-color: #40E0D0;}
 50%  {background-color: #40E0D0;}
  75% {background-color: 	#483D8B;}
   100% {background-color: white;}
   0%   {color: #40E0D0;}
   50%  {color: #40E0D0;}
   100% {color: black;}
}
@keyframes on{
  0%   {background-color: black;}
 25%  {background-color: #40E0D0;}
 50%  {background-color: #40E0D0;}
  75% {background-color: 	#483D8B;}
   100% {background-color: white;}
   0%   {color: #40E0D0;}
   50%  {color: #40E0D0;}
   100% {color: black;}
}
#enter{
  font-size: 25px;
  padding: 10px 30px 10px 30px;
  color: #40E0D0;
  border-style: solid;
  border-color: black;
  background-color: #000000;
  display: none;
}
#enter:hover{
  color: #000000;
  border-color: black;
  background-color: #40E0D0;
}
#homepage{
  font-size: 40px;
  text-align: center;
  height: 100vh;
  width: 100%;
  display: none;
  background-color: #483D8B;
  color: #FFFFFF;
  padding-top: 15%;
  vertical-align: middle;
  font-family: 'Monoton', cursive;;
}
.homepage-skip{
  background-color: white;
    color : black;
    -webkit-animation-name: on-skip;
    -webkit-animation-duration: 10s;
    animation-name: on-skip;
    animation-duration: 10s;
}
@-webkit-keyframes on-skip{
  0%   {background-color: black;}
   25%  {background-color: 	#CD853F;}
   75% {background-color: 	#483D8B;}
   100% {background-color: white;}
   0%   {color: #CD853F;}
   25%  {color:	#CD853F;}
   100% {color: black;}
}
@keyframes on-skip{
  0%   {background-color: black;}
   25%  {background-color: 	#CD853F;}
   75% {background-color:	#483D8B;}
   100% {background-color: white;}
   0%   {color: #CD853F;}
   25%  {color: #CD853F;}
   100% {color: black;}
}
#content{
  color: black;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  font-family: 'Catamaran', sans-serif;
  display: none;
}
#transition{
  background-image: url("http://78.media.tumblr.com/439a4606156abed8c2d04944d4efd12f/tumblr_n6kholb70q1sd011wo1_1280.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: none;
}
#About{
  background-image: url("http://www.jordiros.me/glgifomatic/images/loading.gif");
  background-size: cover;
  background-position: center;
  text-align: center;
  vertical-align: middle;
  line-height: 50vh;
  width: 50%;
  height: 50vh;
  /*padding-top: 10%;*/
  color: white;
  background-repeat: no-repeat;
  display: none;
  cursor: pointer;
}
#Projects{
  background-image: url("https://www.demilked.com/magazine/wp-content/uploads/2016/06/gif-animations-replace-loading-screen-11.gif");
  background-size: cover;
  background-position: center;
  text-align: center;
  vertical-align: middle;
  line-height: 50vh;
  width: 50%;
  height: 50vh;
  color: white;
  background-repeat: no-repeat;
  display: none;
  cursor: pointer;
}
#Contacts{
  background-image: url("../images/contacts.gif");
  background-size: cover;
  background-position: center;
  text-align: center;
  vertical-align: middle;
  line-height: 50vh;
  width: 50%;
  height: 50vh;
  color: white;
  background-repeat: no-repeat;
  display: none;
  cursor: pointer;
}
div#About:hover{
  background-color: #4169E1;
  opacity: 0.5;
}
div#Projects:hover{
  background-color: #4169E1;
  opacity: 0.5;
}
div#Contacts:hover{
  background-color: #4169E1;
  opacity: 0.5;
}
ul{
  list-style: none;
}
#About-desc{
  font-family: 'Josefin Sans', sans-serif;
  display: none;
  font-size: 25px;
  text-align: center;
  background-color: #483D8B;
  height: 60vh;
  color: white;
}
#more-on-me{
  text-align: justify;
  font-family: 'Catamaran', sans-serif;
  line-height: normal;
  color: white;
  display: none;
  font-size: 20px;
}
#more-on-hobbies{
  text-align: justify;
  font-family: 'Catamaran', sans-serif;
  line-height: normal;
  color: white;
  height: 40vh;
  overflow: auto;
  display: none;
  font-size: 20px;
}
#more-on-skill-sets{
  text-align: justify;
  font-family: 'Catamaran', sans-serif;
  line-height: normal;
  color: white;
  height: 40vh;
  overflow: auto;
  display: none;
  font-size: 20px;
}
.col-md-4{
  font-family: 'Leckerli One', cursive;
  vertical-align: middle;
  line-height: 45vh;
  color: white;
  background-color: #CD853F;
}
#me:hover{
  background-color: #1A1E37;
  cursor: pointer;
}
#hobbies:hover{
  background-color: #1A1E37;
  cursor: pointer;
}
#skill-sets:hover{
  background-color: #1A1E37;
  cursor: pointer;
}
.pull-up{
  background-color: #1A1E37;
  color: #FFFFFF;
  border-style: none;
  padding: 10px 30px 10px 30px;
}
.container li:before {
  content: "\f00c"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}
#about-return{
  font-family: 'Leckerli One', cursive;
}
#Ending{
  text-align: center;
  font-size: 20px;
  vertical-align: middle;
  height: 50vh;
  line-height: 5vh;
  background-color: #000000;
  color: 	#FF8C00;
  display: none;
}
#Ending ul{
  list-style: none;
  display: table;
}
#Ending li{
  display: table-cell;
  padding-left: 40px;
  padding-top: 20px;
  text-align: center;
  color: 	#FF8C00;
  font-size: 50px;
}
#Contacts-desc{
  background-color: black;
  color: 	#FF8C00;
  font-family: 'Catamaran', sans-serif;
  height: 65vh;
  font-size: 40px;
  text-align: center;
  display: none;
}
#Contacts-return{
  padding: 10px 30px 10px 30px;
  border-style: none;
  color: black;
  background-color: #FF8C00;
}
#Projects-desc{
  display: none;
  font-family: 'Catamaran', sans-serif;
  height: 60vh;
  font-size: 40px;
  text-align: center;
  background-color: #008000;
  color: white;
}
#Projects-return{
  padding: 10px 30px 10px 30px;
  border-style: none;
  color: white;
  background-color: #008000;
}
#Projects-desc a{
  color: white;
}
#Projects-desc a:hover{
  text-decoration: none;
}

